<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lobby</title>
</head>
<body>
    <h1>Let's Chat </h1>
    <div>[Room name: ]</div>
    <div id="room_name">{{ room.name }}</div>
    <div id="room_slug">{{ room.id }}</div>
    <form id="form">
        <input type="text" name="message">
    </form>
    <div id="user_id" style="display: none;">{{ request.user.id }}</div>

    <div id="messages"></div>

    <script>
        let room_name = document.getElementById('room_slug').innerText
        let url = `ws://${window.location.host}/ws/socket-server/${room_name}/`;
        let user_id = document.getElementById("user_id").innerText;
        const chatSocket = new WebSocket(url);

        chatSocket.onmessage = function(e) {
            let data = JSON.parse(e.data);
            console.log('Data: ', data)

            if(data.type === 'chat') {
                let messages = document.getElementById('messages')
                messages.insertAdjacentHTML('beforeend', `<div>
                        
                        <p><b>${data.sender_name}:: </b>${data.message}</p>
                    </div>`)
            }
        }

        let form = document.getElementById('form');
        form.addEventListener('submit', e => {
            e.preventDefault();
            let message = e.target.message.value;
            chatSocket.send(JSON.stringify({
                'data': [message, user_id]
            }))
            form.reset()
        })
    </script>
</body>
</html>