{% for m in messages %}       
<div class="message">
    <p>{{ m }}</p>
</div>
{% empty %}
{% endfor %}

<h1>Home page</h1>
<p>{{ request.user.username }}</p>
<a href="{% url 'chatroom:user_dashboard' request.user.id %}">Profile</a>
<a href="{% url 'chatroom:create_room' %}">Create Room</a>
<a href="{% url 'chatroom:logout' %}">Log Out</a>

{% for room in rooms %}
    <h1><a href="{% url 'chat:home' room.slug %}">Room: {{ room.name }}</a></h1>
    <h2>Type:{{ room.room_type }}</h2>
{% endfor %}
